/* style overriding the default browser settings*/
* {
    /* fonts used :
    header: Verdana,Geneva,Tahoma,sans-serif*/

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
  /***setting favored colors***/
:root {
    --color-primary: #FFA500;
    --color-secondary: rgba(0, 0, 0, 0.6);
}

/* General style*/
body {
    min-height: 100vh;
    max-width: 290vw;
    display: flex;
    flex-direction: column;
    /* General Project style*/
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFA500;

}

/*Header Style*/
header {
    background-color: rgba(0, 0, 0, 0.6);
    font-family: cursive, sans-serif;
    position: fixed;
    z-index: 99;
    width: 100%;
    /* Style to get rid of space between header and main*/
    height: 10rem;
    /* box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6); */
    /*
    display: flex; */
    justify-content: space-between;
    align-items: baseline;
    z-index: 999 !important;
    top: 0
}

/* Style the Header container*/
.header-container {
    display: grid;
    justify-content: space-evenly;
    padding: inherit;
}

/* Logo h1 header style*/
header h1 {
    font-size: x-large;
    font-weight: bold;
    text-align: center;




}

header p {
    text-align: center;
    font-size: medium;
}



a {
    color: white;
    text-decoration: none;
    font-size: 110;
    text-transform: uppercase;
    z-index: 999 !important;
    scroll-behavior: smooth;


}

/* Nav list style*/
.nav-list {
    /* Nav list style to remove the bullet points*/
    list-style-type: none;
    letter-spacing: 4px;
    margin-bottom: 1em;
}

/* active style*/
*.active {
    border-bottom: 2px solid white;
}

/*Nav Style*/
nav {
    position: fixed;
    width: 100%;
    left: 0;
    top: 3rem;
    height: 3rem;
    padding: 0 1rem;
    scroll-behavior: smooth;
    /*box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6); */
    /*display: none;*/
    /*top: 100%;*/
    transition: all 0.3s ease-in-out;

    z-index: -991;
    opacity: 0;
    color: transparent;
    background-color: rgb(70 100 10 / 50%);


}

/* Style the Nav Bar show hide span*/

.nav-toggle-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    font-size: 2rem;
}

span.bar {
    width: 25px;
    height: 2px;
    background-color: white;
    display: block;
    position: relative;
    transition: all 0.3s ease-in-out;

}

span.bar::before {
    content: "";
    width: 25px;
    height: 2px;
    background-color: white;
    display: block;
    position: absolute;
    transition: all 0.3s ease-in-out;
    top: -8px;
}

span.bar::after {
    content: "";
    width: 25px;
    height: 2px;
    background-color: white;
    display: block;
    position: absolute;
    top: 8px;
    transition: all 0.3s ease-in-out;
}

#nav-toggle:checked~label span.bar::before {
    transform: rotate(45deg);
    transform-origin: 0;
}

#nav-toggle:checked~label span.bar::after {
    transform: rotate(-45deg);
    transform-origin: 2px;
}

#nav-toggle:checked~label span.bar {
    background-color: unset;
}


/*Nav toggle style*/

#nav-toggle:checked~nav {
    /*display: block;*/
    left: 0;
    opacity: 1;
    color: white;
}

#nav-toggle {
    display: none;
}



/*Main Style*/
main {
   display: flex;
   flex-direction: column; 
   background-color: rgba(220, 70, 10, 0.6);
   flex: 1 0 auto; 

 

    /* Image by valeria_aksakova</a> on Freepik */

    background-image: url(../images/background.jpg); 
    background-repeat: no-repeat;
    background-size:cover;
    /*style to get rid of space with header*/

    margin-top: 160px;
    font-size: 100%;
    text-align: center;


}

/******************** About us Style ***************/
#about-us {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);

}



/******************** Gallary section style ***********/

section#gallary {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    width: 100%;
    margin: 2px 2px;
    padding: 20px;
}

.gallary-div {
    height: 350px !important;
    width: 350px !important;
}

.gallary-div img {
    width: 100% !important;
    height: 100% !important;
    object-fit:cover;
}

/*style box border around the images*/
.gallary-div {
    border: 2px solid black;


}

#menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
}

/* to align menu elements aside from left size */
.divs-screen-size {
    margin: 2rem;
    padding: 2rem;
}

.divs-screen-size li {
    margin: 1rem;
}

.divs-screen-size ol h5 {
    font-weight: bold;
    font-size: large;
    color: #FFA500;
}


/* h3 headline style*/
main h3 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 150%;
}


/* h4 headline style */
main h4 {
    text-decoration: underline;
    font-size: larger;

}


/* Style about us*/

/* Style the div of about us*/
.about {
    padding: 2rem;
    background-color: var(--color-secondary);
    text-align: left;
    /*width: max-content;*/

    /*style for the h1 about us*/
}

.about h3 {
    margin-bottom: 10px;
    font-size: 150%;

}



/*style lists in menu*/
#menu ol,
ul {
    list-style-type: none;
}



/******************** Bookings Style************************/

#booking {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
    justify-content: center;
    letter-spacing: 4px;
    padding: 20px;
    flex: 1 0 auto;
} 

#booking {
    margin-inline: auto;
}

/* style booking div container*/
.booking-div {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    padding: 10px px;
    position: relative;
    height: fit-content;
    width: fit-content;
}
.booking-div form {
    height: 1200px;
}

/*style for h3 booking*/
#booking h3 {
    padding: 5px;
}

/*style for booking form labels */
#booking label {
    padding: 5px;
    margin: 5px;
    display: flex;
    width: 270px;
    height: 25px;
    font-weight: bold;
}

/*style for input and select box for booking form*/
#booking input,
select {
    padding: 5px;
    margin: 5px;
    display: flex;
    width: 270px;
    height: 25px;
    font-weight: bold;

}

/* style for submit button for booking form*/
#booking-submit {
    text-align: center;
    padding: 10px;
    margin: 5px;
}




/******************** Feedback ******************************/
/* style feedback for div container*/

#feedback1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;


}

#feedback1 h3 {
    text-align: center;
}

.feedback-div {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    padding: 2px;
    margin: 2px;
    position: relative;
    height: fit-content;
    width: fit-content;
                }
.feedback-div form {
    padding: 2px;
    margin: 2px;
    height: 1200px;
    font-size: larger;
            }



/*
.feedback-div {
    display: grid;
    position: relative;
    margin: 5px;
    padding: 5px;
    /*border: 5px solid var(--color-secondary); }*/




/*style for h3 feedback form*/
#feedback h3 {
    padding: 5px;
}

/* style feedback for the feedback form*/


#feedback form {
    display: inline-grid;
    align-items: end;
    justify-content: space-between;
    align-content: space-around;
    justify-items: start;
}

/*style for each label, input of feedback form*/
#feedback1 label,
input {
    margin: 2px;
    padding: 2px;
    width: fit-content;

}

/* Style to algin text for labels*/
#feedback1 label {
    text-align: left;
}

/* style for every 2 items in the feedback form , it wa easier to style it this way*/
.two-item {
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: baseline; 

}

/* style for group of 4 items in feedback form*/

.four-item {
    display: flex;
    
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: baseline;
        } 

/*style for submit button in feedback form*/

#feedback-submit {
    margin: 5px;
    padding: 5px;
}

/*Footer Style*/
footer {
    position: relative;
    background-color: rgb(250, 170, 70);
    top: 100%;
    bottom: 0;
    text-align: center;
}

/***** Contact section style *******/
#contact {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
    justify-content: center;
    letter-spacing: 4px;
    padding: 20px;
}
#contact h3, h4, table, span {
    margin: 2rem;
}

#contact table, span {
    text-transform: uppercase;
}

/****************** Respone style ***************/

main .response{ 
    width: fit-content;
    height: 100vh;
    font-size: x-large;
    margin: 50px 50px;
}

/*******************************media-query Style for the smallest screen size Mobile  280 PX******************************/


@media screen and (max-width:280px) {

    /*header*/
    .header-container {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    header h1 {
        text-align: left;

    }

    header p {
        font-size: x-small;
    }


}
/*--------------------------------------------------End of small screen size media query section-----------------------------------------------------------------------------*/



/************************** media-query :styles for tablets or desktop larger then 768 px and up*******************************/
@media screen and (min-width:768px) {

    /* Header*/

    /* nav style in header for wide screen*/
    nav {
        display: flex;
        position: relative;
        /*width: fit-content; */
        padding-left: 1rem;
        opacity: 1;

    }

    /* header style for wide screen */
    header {
        text-align: center;
    }

    /*h1 header style  for wide screen*/
    header h1 {
        font-size: x-large;
    }

    header p {
        font-size: large;
    }

    /* to hide the nav toggle span when wide screen applied*/
    .nav-toggle-label {
        display: none;
    }

    /* style of nav list for wide screen */
    .nav-list {
        display: contents;
        letter-spacing: normal;
        margin: 5px;
        color: white;
    }

    /* to align header elements to center for wide screen*/
    header div {
        display: flex;
        align-items: center;

    }

    /*to style nav list font size for wide screen*/
    .nav-list li {
        padding-left: 2rem;
        font-size: 150%;
        font-weight: bold;
    }


    /******** Main *******/
    main section {
        margin: 0 auto;
    }
 #gallary {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;
 }
    .menu-div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 130%;
    }
    

    /*******Booking ******/
    /*to algin booking elements for wide screen*/
    /*#booking {
        position: absolute;
     }*/
    /* to align the content to left  for wide screen*/
    /*#booking-label {

        width: 680px;
        height: 150px;
     }*/


     .booking-div {
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 10px;
        backdrop-filter: blur(5px);
        padding: 10px px;
        position: relative;
        height: fit-content;
        width: 730px;
    }
    /*******Feedback ******/


    /* to align content to left for wide screen*/

    #feedback form {
        width: 100%;
        height: 100%;
        font-size: x-large;
    }

    .feedback-div {
        text-align: left;
        height: 100%;
        width: 100%;
    }

    #feedback1 {
        display: flex;
        align-items: center;
        flex: 1 0 auto;
        padding: 2px;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    

    .screen-size {
        width: 45rem !important;
    }

    .textera-size {
        width: 45rem !important;
       /* height: 40px !important;*/
        
      

    }
   



}

/* -----------------------------------------End of style 768px large screen size----------------------------------------------------*/

