/* style overriding the default browser settings*/
* {
    /* Google fonts import*
    font-family: 'Caveat', cursive;
        font-family: 'Dancing Script', cursive;
        font-family: 'Lato', sans-serif;
        font-family: 'Lumanosimo', cursive;*/
    @import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Dancing+Script&family=Lato:ital,wght@1,300&family=Lumanosimo&display=swap");
    
    margin: 0;
    padding: 0;
    box-sizing:border-box;   
    background-color: #FFA500;
   
}

/* General style*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* General Project style*/
    color: white;
    font-family: 'Lato', sans-serif;
  
}
/*Header Style*/
header {
    background-color: rgba(0, 0, 0, 0.6);
    font-family: 'Dancing Script', cursive;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);



}



/*Main Style*/
main {

    background-color: rgba(220, 70, 10, 0.6);
    /* make main expand to ta to push footer down*/
    flex: 1 0 auto;
}


/*Footer Style*/
footer {
    background-color: rgb(250, 170, 70);
}