/* style overriding the default browser settings*/
* {
    /* fonts used :
    header: Verdana,Geneva,Tahoma,sans-serif*/

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
:root {
    --color-primary:#FFA500 ;
    --color-secondary:rgba(0, 0, 0, 0.6);
}

/* General style*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* General Project style*/
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFA500;

}

/*Header Style*/
header {
    background-color: rgba(0, 0, 0, 0.6);
    font-family: cursive, sans-serif;
    position: fixed;
    z-index: 99;
    width: 100%;
    /* Style to get rid of space between header and main*/
    height: 10rem;
    /* box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6); */
    /*
    display: flex; */
    justify-content: space-between;
    align-items: baseline;
    /*z-index: 999 !important;*/
    top:0


}

/* Style the Header container*/
.header-container {
    display: grid;
    justify-content: space-evenly;
    padding: inherit;
}

/* Logo h1 header style*/
header h1 {
    font-size: 110;
    font-weight: bold;
    text-align: center;
    
    


}
header p {
    text-align: center;
}



a {
    color: white;
    text-decoration: none;
    font-size: 110;
    text-transform: uppercase;
    z-index: 999 /*!important*/;


}

/* Nav list style to remove the bullet points*/
.nav-list {
    list-style-type: none;
    letter-spacing: 4px;

    margin-bottom: 1em;
}

/* active style*/
/*.active {
      border-bottom: 2px solid white;
}*/

/*Nav Style*/
nav {
    position: sticky;
    width: 100%;
    left: 0;
    top: 2rem;
    padding: 0 1rem;
    /*box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6); */
    /*display: none;*/
    /*top: 100%;*/
    transition: all 0.3s ease-in-out;

    z-index: -991;
    opacity: 0;
    color: transparent;
    background-color:var(--color-secondary);


}

/* Style the Nav Bar show hide span*/

label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
}

span.bar {
    width: 25px;
    height: 2px;
    background-color: white;
    display: block;
    position: relative;
    transition: all 0.3s ease-in-out;

}

span.bar::before {
    content: "";
    width: 25px;
    height: 2px;
    background-color: white;
    display: block;
    position: absolute;
    transition: all 0.3s ease-in-out;
    top: -8px;
}

span.bar::after {
    content: "";
    width: 25px;
    height: 2px;
    background-color: white;
    display: block;
    position: absolute;
    top: 8px;
    transition: all 0.3s ease-in-out;
}

#nav-toggle:checked~label span.bar::before {
    transform: rotate(45deg);
    transform-origin: 0;
}

#nav-toggle:checked~label span.bar::after {
    transform: rotate(-45deg);
    transform-origin: 2px;
}

#nav-toggle:checked~label span.bar {
    background-color: unset;
}


/*Nav toggle style*/

#nav-toggle:checked~nav {
    /*display: block;*/
    left: 0;
    opacity: 1;
    color: white;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/*Main Style*/
main {

            display: grid;
            justify-content: space-evenly;
            
            background-color: rgba(220, 70, 10, 0.6);
            /*the image was downloaded from Adobe.com*/
            background-image: url(/assets/images/AdobeStock_89046465_Preview.jpeg) ;
            
            background-repeat: repeat;
            background-size: 100%;
            /* make main expand to ta to push footer down*/
            flex: 1 0 auto;
            /*style to get rid of space with header*/
            margin-top: 160px;
}
.about {
    background-color: var(--color-secondary);
   
}
.logo-image {
    border: 2px solid black;
}

/*Footer Style*/
footer {
        position: absolute;
        background-color: rgb(250, 170, 70);
        top: 100%;
        bottom: 0;
}




/* media-query :tablets larger then 768 px and up*/
@media screen and (min-width:768px) {

    /* Header*/
    nav {
        display: flex;
        position: relative;
        width: fit-content;
        padding-left: 1rem;
        opacity: 1;

    }

    header {
        text-align: center;
    }

    .nav-toggle-label {
        display: none;
    }

    .nav-list {
        display: contents;
        letter-spacing: normal;
        margin: 5px;
        color: white;
    }

    header div {
        display: flex;
        align-items: center;

    }

    .nav-list li {
        padding-left: 2rem;
        font-size: small;
        font-weight: bold;
    }


}