/* style overriding the default browser settings*/
* {
    /* fonts used :
    header: Verdana,Geneva,Tahoma,sans-serif*/

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
  /***setting favored colors***/
:root {
    --color-primary: rgb(255 170 0);
    --color-secondary: rgba(0, 0, 0, 0.6);
    
}





/* General style*/
body {
    min-height: 100vh;
    max-width: 290vw;
    color: rgb(255 166 0 / 50%);
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: large;
    width: 100%;

}

/*Header Style*/
header {
    position:fixed;
    padding: 5px;
    background-color: rgb(0, 0, 0);
    font-family: cursive, sans-serif;
    z-index: 99;
    width: 100%;
    height: 15rem;
    top: 0;
    
    
    
}
header h1{
    text-align: center;
    font-size: xx-large;
}


a {
    color: white;
    text-decoration:none;
    cursor:pointer;
    text-transform: uppercase;
    z-index: 999 !important;
    scroll-behavior: smooth;

}

/* Nav list style*/
.nav-list {
    /* Nav list style to remove the bullet points*/
    font-size: 75%;
    letter-spacing: 4px;
}

/* active style*/
*.active {
    border-bottom: 2px solid white;
}

/*Nav Style*/
nav {
    cursor: pointer;
    position: inline-block;
    width: 100%;
    scroll-behavior:smooth;       
    transition: all 0.3s ease-in-out;
    z-index: -991;
    opacity: 0;
    color: transparent;
    background-color: rgb(70 100 10 / 50%);


}

/* Style the Nav Bar show hide span*/

.nav-toggle-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    font-size: 2rem;
}

span.bar {
    width: 25px;
    height: 2px;
    background-color: white;
    display: block;
    position: relative;
    transition: all 0.3s ease-in-out;

}

span.bar::before {
    content: "";
    width: 25px;
    height: 2px;
    background-color: white;
    display: block;
    position: absolute;
    transition: all 0.3s ease-in-out;
    top: -8px;
}

span.bar::after {
    content: "";
    width: 25px;
    height: 2px;
    background-color: white;
    display: block;
    position: absolute;
    top: 8px;
    transition: all 0.3s ease-in-out;
}

#nav-toggle:checked~label span.bar::before {
    transform: rotate(45deg);
    transform-origin: 0;
}

#nav-toggle:checked~label span.bar::after {
    transform: rotate(-45deg);
    transform-origin: 2px;
}

#nav-toggle:checked~label span.bar {
    background-color: unset;
}



/*Nav toggle style*/

#nav-toggle:checked~nav {
    left: 0;
    opacity: 1;
    color: white;
}

#nav-toggle {
    display: none;
}



/*Main Style*/
main {
   display: flex;
   flex-direction: column;
   background-color: rgb(0, 0, 0);
   flex: 1 0 auto; 
   margin-top: 14rem;

 

    /* Image by valeria_aksakova</a> on Freepik */

    background-image: url(../images/background.jpg); 
    background-repeat: no-repeat;
    background-size:cover;

    
    font-size: 100%;
    text-align: center;


}

/******************** About us Style ***************/
#about-us {
    top: 40%
   
    width: 100%;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.6);

}


/* Style about us*/

/* Style the div of about us*/
#about div {
    padding: 5px;
    background-color: var(--color-secondary);
    text-align: left;
    /*width: max-content;*/

    /*style for the h1 about us*/
}

.about  h3 {
    margin-bottom: 10px;
    font-size: 100%;

}
.about p {
    font-size: 75%;
}

/******************** Gallary section style ***********/

section#gallary {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    width: 100%;
   
}

.gallary-div {
    height: 350px !important;
    width: 350px !important;
}

.gallary-div img {
    width: 100% !important;
    height: 100% !important;
    object-fit:cover;
}

/*style box border around the images*/
.gallary-div {
    border: 2px solid black;


}

#menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
}


.divs-screen-size {
    margin: 2px;
    padding: 2px;
}

.divs-screen-size li {
    margin: 1rem;
    color: rgb(255 166 0 / 50%);;
}

.divs-screen-size ol h5 {
    font-weight: bold;
    color:  rgb(255 170 0);
    font-size: 100%;

}


/* h3 headline style*/
main h3 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 100%;
    color: brown;
}


/* h4 headline style */
main h4 {
    text-decoration: underline;
    font-size: 100%;
    color: rgb(255 170 0);
    

}





/*style lists in menu*/
#menu ol,
ul {
    list-style-type: none;
}



/******************** Bookings Style************************/

#booking {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 4px;
    padding: 2px;
    flex: 1 0 auto;
} 



/* style booking div container*/
.booking-div {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    padding: 10px;
    position: relative;
    height: fit-content;
    width: fit-content;
}


/*style for h3 booking*/
#booking h3 {
    padding: 5px;
}

/*style for booking form labels */
#booking label {
    padding: 5px;
    margin: 5px;
    display: flex;
    
  
    font-weight: bold;
}



/* style for submit button for booking form*/
#booking-submit {
    text-align: center;
    padding: 10px;
    margin: 5px;
}




/******************** Feedback ******************************/
/* style feedback for div container*/

#feedback1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1 0 auto;
    align-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;


}

#feedback1 h3 {
    text-align: center;
}

.feedback-div {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    padding: 2px;
    margin: 2px;
    position: relative;
    height: fit-content;
    width: fit-content;
                }
.feedback-div form {
    padding: 2px;
    margin: 2px;
    font-size: 100%;
            }








/*style for h3 feedback form*/
#feedback h3 {
    padding: 5px;
}

/* style feedback for the feedback form*/


#feedback form {
    display: inline-grid;
    align-items: end;
    justify-content: space-between;
    align-content: space-around;
    justify-items: start;
}

/*style for each label, input of feedback form*/
#feedback1 label,
input {
    margin: 2px;
    padding: 2px;
    width: fit-content;

}

/* Style to algin text for labels*/
#feedback1 label {
    text-align: left;
    text-align: center;
    font-size: 75%;
}

/* style for every 2 items in the feedback form , it wa easier to style it this way*/
.two-item {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}



.label-size {
    margin: 2px;
    font-size: 75%;
}

/* style for group of 4 items in feedback form*/

.four-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: flex-start;
    justify-content: center;
    margin: 5px;
        } 

        #feedback {
            width: 100%;
            min-height: 100px;
            max-height: 300px;
        }

/*style for submit button in feedback form*/

#feedback-submit {
    margin: 5px;
    padding: 5px;
}

/*Footer Style*/
footer {
    position: relative;
    color: rgb(250, 170, 70);
    top: 100%;
    bottom: 0;
    text-align: center;
    color: white;
    margin: 1rem;
    height: 2rem;
}

/***** Contact section style *******/
#contact {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
    justify-content: center;
    letter-spacing: 4px;
    padding: 2px;
}


#contact table {
    text-transform: uppercase;
}
#contact td {
    font-size: 75%;
    padding: 1rem;
    color: rgb(255 166 0 / 50%);;
}
.address {
    font-size: 75%;
    padding: 1rem;
}

#thanks, #response1 {
    border-radius: 10px;
    background-color: rgb(70 100 10 / 50%);
    width: 240px;
    height : 120px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

/****************** Respone style ***************/

main .response{ 
    width: fit-content;
    height: 100vh;
    font-size: x-large;
    margin: 50px 50px;
}



/**************************Media query: styles for mobile with 390px wide**************************/

.two-item{
    display: block;
}
/**************************** Media query: styles for mobiles with 414 px wide **********************/
@media screen and (min-width: 414px){
    .label-size {
        font-size: 100%;
    }
    
    .two-item{
        display: flex;
        flex-direction: column;
    }
}
/*------------------------------------------------------------------------------------*/


/************************** Media-query: Styles for mobiles or screen with 540px and up************************************/

@media screen and (min-width:540px) {
   .menu-div {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: stretch;
   }
    
   
}


/************************** media-query :styles for tablets or desktop larger then 768 px and up*******************************/
@media screen and (min-width:768px) {

    /* Header*/
    .header-container  {
            display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    }

    /* nav style in header for wide screen*/
    nav {
        display: flex;
        position: relative;
        
        /*width: fit-content; */
        padding-left: 1rem;
        opacity: 1;
        height: 4rem;
        top: 1rem;

    }

    /* header style for wide screen */
    header {
        text-align: center;
    }

    /*h1 header style  for wide screen*/
    header h1 {
        font-size: 200%;

    }
    a {
        color: rgba(230, 215, 215, 0.7);
        
    }

    header p {
        font-size: large;
    }

    /* to hide the nav toggle span when wide screen applied*/
    .nav-toggle-label {
        display: none;
    }

    /* style of nav list for wide screen */
    .nav-list {
        display: contents;
        letter-spacing: normal;
        margin: 5px;
        color: white;
    }

    /* to align header elements to center for wide screen*/
    header div {
        display: flex;
        align-items: center;

    }

    /*to style nav list font size for wide screen*/
    .nav-list li {
        padding-left: 2rem;
        font-size: 150%;
        font-weight: bold;
    }


    /******** Main *******/
    main section {
        margin: 0 auto;
    }
 #gallary {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;
 }
    .menu-div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 100%;
    }
    

    


     .booking-div {
        display: flex;
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 10px;
        padding: 10px ;
        position: relative;
        height: fit-content;
        width: 730px;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: space-around;
    }
    /*******Feedback ******/


    /* to align content to left for wide screen*/

    #feedback form {
        width: 100%;
        height: 100%;
        font-size: x-large;
    }

    .feedback-div {
        text-align: left;
        height: 100%;
        width: 100%;
    }

    #feedback1 {
        display: flex;
        align-items: center;
        flex: 1 0 auto;
        padding: 2px;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    
    

    .screen-size {
        width: 45rem !important;
    }

    .textera-size {
        max-height: 350px;
        width: 100%;
        font-size: 100%;
        
      

    }
   

.response {
    font-size: 150%;
}

.thankfeedback{font-size: 150%;}

#thanks, #response1 {
    border-radius: 10px;
    background-color: rgb(70 100 10 / 50%);
    width: 660px;
    height : 360px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

}



/* -----------------------------------------End of style 768px large screen size----------------------------------------------------*/
/******************** Media-query Style for desktop 1024px and up ************/
@media screen and (min-width:1024px) { 

    h1 {
        font-size: 300%;
    }
    header p {
        font-size: 150%;
    }
    .about h3 {
        font-size: 250%;
        margin: 10px ;
        padding: 10px;
    }
    #menu h3 {
        font-size: 250%;
        margin: 10px ;
        padding: 10px;
    }
#menu h4 {
    font-size: 200%;
}
#contact h3 {
    font-size: 250%;
        margin: 10px ;
        padding: 10px;
}
   #contact h4 {
    font-size: 200%;
   }
   #contact td {
    font-size: 150%;
   }
   
   .menu-div {
    font-size: 150%;
   }

nav {
font-size: 150%;
}

.about {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.response {
    font-size: 150%;
}

.about p {
    margin: 10px ;
    padding: 10px;
    font-size: 150%;
    text-align: left;
}

.divs-screen-size {
    margin: 20px;
    padding: 20px;
}


.booking-div {
    width: 1020px;
}

#booking h3 {
    font-size: 250%;
}


.booking-div form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: stretch;
    font-size: 150%;

}

.two-item ,.four-item {
    padding: 2px;
    margin: 2px;
    font-size: 150%;

}
.four-item {
    display: flex;
    align-items: flex-end;
}
.feedback-div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: flex-start;
}
.two-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
    justify-content: space-around;
}

.feedback-div form {
    padding: 2px;
    margin: 2px;
    font-size: 150%;
}


    
#feedback1 h3 {
    font-size: 150%;
    margin: 20px;
    padding: 20px;
}


#booking input,
select {
    padding: 5px;
    margin: 5px;

}
.booking-div {
    display: block;
}

#thanks, #response1 {
    border-radius: 10px;
    background-color: rgb(70 100 10 / 50%);
    width: 1020px;
    height : 560px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
#thanks p, #response1 p {
    font-size: 150%;
}




}





