/* style overriding the default browser settings*/
* {
    /* fonts used :
    header: Verdana,Geneva,Tahoma,sans-serif*/
    
    margin: 0;
    padding: 0;
    box-sizing:border-box;   
    background-color: #FFA500;
   
}

/* General style*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* General Project style*/
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  
}
/*Header Style*/
header {
    background-color: rgba(0, 0, 0, 0.6);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    
}
/* Logo h1 header style*/
header h1 {
    font-size: 110;
    font-weight: bold;


}


nav a {
    text-decoration: none;
    font-size: 110;
    text-transform: uppercase;
    

}

/* Nav list style to remove the bullet points*/
.nav-list {
    list-style-type: none;
    letter-spacing: 4px;

    margin-bottom: 1em;
}
/* active style*/
.active {
    border-bottom: 2px solid white;
}

/*Nav Style*/
nav {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
   display:none ;
   top: 100%;
  

}

/*Nav toggle style*/

#nav-toggle:checked~nav {
    display: block;
}
#nav-toggle{
    display: none;
}
.nav-toggle-lable {
    font-size: 2rem;
}
/*Main Style*/
main {

    background-color: rgba(220, 70, 10, 0.6);
    /* make main expand to ta to push footer down*/
    flex: 1 0 auto;
    margin-top: 135px;
}


/*Footer Style*/
footer {
    background-color: rgb(250, 170, 70);
}