/* style overriding the default browser settings*/
* {
    /* fonts used :
    header: Verdana,Geneva,Tahoma,sans-serif*/

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
  /***setting favored colors***/
:root {
    --color-primary: rgb(255 170 0);
    --color-secondary: rgba(0, 0, 0);
    
}

/* General style*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 290vw;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0);
    width: 100%;

}

/*Header Style*/
header {
    height: 80px;
    position:relative;
    padding: 5px;
    background-color: #333;
    font-family: cursive, sans-serif;
    z-index: 99;
    width: 100%;
    top: 0;
    text-align: center;
    color: whitesmoke;
}
/* Anchors style*/
a {
    color: var(--color-primary);
    text-decoration:none;
    cursor:pointer;
    text-transform: uppercase;
    z-index: 999 !important;
    scroll-behavior: smooth;
}

/* active style*/
*.active {
    border-bottom: 2px solid white;
    color: #ff8c00;
}

/*Nav Style*/
nav {
    cursor: pointer;
    width: 100%;
    text-align: left;
    scroll-behavior:smooth;       
    transition: all 0.3s ease-in-out;
    z-index: -991;
    opacity: 0;
    color: transparent;
    background-color: rgb(70 100 10 / 50%);
}
/* Nav list style*/
.nav-list {
    /* Nav list style to remove the bullet points*/
    letter-spacing: 4px;
} 

/* Style the Nav Bar show hide span*/

.nav-toggle-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
}

span.bar {
    width: 25px;
    height: 2px;
    background-color: white;
    display: block;
    position: relative;
    transition: all 0.3s ease-in-out;

}

span.bar::before {
    content: "";
    width: 25px;
    height: 2px;
    background-color: white;
    display: block;
    position: absolute;
    transition: all 0.3s ease-in-out;
    top: -8px;
}

span.bar::after {
    content: "";
    width: 25px;
    height: 2px;
    background-color: white;
    display: block;
    position: absolute;
    top: 8px;
    transition: all 0.3s ease-in-out;
}

#nav-toggle:checked~label span.bar::before {
    transform: rotate(45deg);
    transform-origin: 0;
}

#nav-toggle:checked~label span.bar::after {
    transform: rotate(-45deg);
    transform-origin: 2px;
}

#nav-toggle:checked~label span.bar {
    background-color: unset;
}



/*Nav toggle style*/
#nav-toggle:checked~nav {
    left: 0;
    opacity: 1;
    color: white;
}

#nav-toggle {
    display: none;
}



/*Main Style*/
main {
  
   flex: 1 0; 
   background-size:cover;    
   text-align: center;
   height: 100vh;


}

/*About us Style */
#about-us{
    padding: 5px;    
    text-align: left;
    margin-top: 25px;
    margin-bottom: 10px;
    text-align: center;

}
h2{
    padding: 5px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color-primary);
}
h3 {
    color: red;
}
/*Gallary section style */

#gallery {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    max-width: 100%;
   
}

.gallary-div {
    height: 350px !important;
    width: 350px !important;
}

.gallary-div img {
    width: 100% !important;
    height: 100% !important;
    object-fit:cover;
}

/*style box border around the images*/
.gallary-div {
    border: 2px solid black;

}
#menu {
    display: block;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 20px;
}
section h2 {
    margin: 10px;
    padding: 10px;
}
.divs-screen-size {
    margin: 2px;
    padding: 2px;
}
.divs-screen-size li {
    margin: 1rem;
    color: gold;
}
/* h4 headline style */
main h4 {
    text-decoration: underline;
    color: red;
    

}

/*style lists in menu*/
#menu ol,
ul {
    list-style-type: none;
}



/******************** Bookings Style************************/

#booking {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 4px;
    padding: 2px;
    flex: 1 0 auto;
} 

/*style for booking form labels */
#booking label {
    
    display: flex;
    
  
    font-weight: bold;
}



/* style for submit button for booking form*/
#booking-submit {
    text-align: center;
    height: 2em;
    width: 8em;
}
select {
    height: 2em;
    width: 3em;
    font-size: 1em;
}

/* Feedback */

/* style feedback for the feedback form*/
#feedback form {
    display: inline-grid;
    align-items: end;
    justify-content: space-between;
    align-content: space-around;
    justify-items: start;
}

/*style for each label, input of feedback form*/
#feedback1 label,
input {
    margin: 2px;
    padding: 2px;
    width: fit-content;

}

/* Style to algin text for labels*/
#feedback1 label {
    text-align: left;
    text-align: center;
}

/* style for every 2 items in the feedback form , it wa easier to style it this way*/
.two-item {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

input.label-size {
    height: 2em;
    width: fit-content;
}

/* style for group of 4 items in feedback form*/

.four-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: flex-start;
    justify-content: center;
    margin: 5px;
        } 

#feedback {
    width: 100%;
    min-height: 100px;
    max-height: 300px;
    }

/*style for submit button in feedback form*/

#feedback-submit {
    margin: 5px;
    padding: 5px;
}

.nav-list li a.active {
    color: var(--color-primary); 
}
/*Footer Style*/
footer {
    position: relative;
    bottom: 0;
    color: white;
    width: 100%;
    height: 3rem;
    background-color: #333;
    z-index: 99;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;

}
iframe {
    margin: 10px
}
/* Contact section style */
#contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
    justify-content: center;
    letter-spacing: 4px;
}


#contact table {
    text-transform: uppercase;
    padding: 25px;
}
#contact td {
    padding: 1rem;
    color: var(--color-primary);
}
.address {
    padding: 1rem;
}

#thanks, #response1 {
    border-radius: 10px;
    background-color: rgb(70 100 10 / 50%);
    width: 240px;
    height : 120px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

/* Respone style */

main .response{ 
    width: fit-content;
    height: 100vh;
    margin: 50px 50px;
}

span {
    font-size: 2em;
    color: #ff8c00;
}

/*Media query: styles for mobile with 390px wide*/

.two-item{
    display: block;
}
/* Media query: styles for mobiles with 280 px wide*/
@media screen and (min-width: 280px){
    
    body {
        font-size: small;
    }
    header {
        padding: 0;
    }
   
    

    .two-item{
        display: flex;
        flex-direction: column;
    }
 
    main{
        margin-top: 6rem;
    }
    
   
}


/** Media-query: Styles for mobiles or screen with 540px and up*/

@media screen and (min-width:540px) {
   .menu-div {
    position: relative;
    flex-direction: row;
    align-items: stretch;
   }
   #menu {
    display: flex;
    align-items: flex-start;
}
    
   
}


/* media-query :styles for tablets or desktop larger then 768 px and up*/
@media screen and (min-width:768px) {

    /* Header*/
    .header-container  {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-size: larger;
    }
    body {
        font-size: 1rem;

    }


    /* nav style in header for wide screen*/
    nav {
        display: flex;
        position: relative;
        
        /*width: fit-content; */
        opacity: 1;
        height: 2rem;

    }

    /* header style for wide screen */
    header {
        text-align: center;
    }

    /*h1 header style  for wide screen*/
   
    

   
    /* to hide the nav toggle span when wide screen applied*/
    .nav-toggle-label {
        display: none;
    }

    /* style of nav list for wide screen */
    .nav-list {
        display: contents;
        letter-spacing: normal;
        margin: 5px;
        color: white;
    }

    /* to align header elements to center for wide screen*/
    header div {
        display: flex;
        align-items: center;

    }

    /*to style nav list font size for wide screen*/
    .nav-list li {
        padding-left: 2rem;
        font-weight: bold;
    }


    /******** Main *******/
    main section {
        margin: 0 auto;
    }
 #gallary {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;
 }
    .menu-div {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    

    /*Feedback */


    /* to align content to left for wide screen*/

    #feedback form {
        width: 100%;
        height: 100%;
    }

    .feedback-div {
        text-align: left;
        height: 100%;
        width: 100%;
    }

    #feedback1 {
        display: flex;
        align-items: center;
        flex: 1 0 auto;
        padding: 2px;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    
    

    .screen-size {
        width: 45rem !important;
    }

    .textera-size {
        max-height: 350px;
        width: 100%;
        
      

    }
   



#thanks, #response1 {
    border-radius: 10px;
    background-color: rgb(70 100 10 / 50%);
    width: 660px;
    height : 360px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

}



/*Media-query Style for desktop 1024px and up */
@media screen and (min-width:1024px) { 

    
    .about h2 {
        margin: 10px ;
        padding: 10px;
    }
    #menu h3 {
        margin: 10px ;
        padding: 10px;
    }

#contact h3 {
        margin: 10px ;
        padding: 10px;
}


.about {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.about p {
    margin: 10px ;
    padding: 10px;
    text-align: left;
}

.divs-screen-size {
    margin: 20px;
    padding: 20px;
}


.two-item ,.four-item {
    padding: 2px;
    margin: 2px;

}
.four-item {
    display: flex;
    align-items: flex-end;
}
.feedback-div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: flex-start;
}
.two-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
    justify-content: space-around;
}

.feedback-div form {
    padding: 2px;
    margin: 2px;
}


    
#feedback1 h3 {
    margin: 20px;
    padding: 20px;
}


#booking input,
select {
    padding: 5px;
    margin: 5px;

}


#thanks, #response1 {
    border-radius: 10px;
    background-color: rgb(70 100 10 / 50%);
    width: 1020px;
    height : 560px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

}





