/* style overriding the default browser settings*/
* {
    /* Google fonts import*/
    @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Handlee&family=Lumanosimo&family=Roboto+Mono:wght@100&display=swap');
        
    margin: 0;
    padding: 0;
    box-sizing:border-box;   
   
}

/* General style*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* General Project style*/
    color: rgb(248, 247, 247);

}
/*Header Style*/
header {
    background-color: rgba(0, 0, 0, 0.459);

}



/*Main Style*/
main {

    background-color: rgba(218, 68, 13, 0.623);
    /* make main expand to ta to push footer down*/
    flex: 1 0 auto;
}


/*Footer Style*/
footer {
    background-color: rgb(245, 172, 70);
}